<!-- your html code here -->
<h1 id="contact"><strong>Contact</strong></h1>
<h4>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur architecto tenetur libero rem animi distinctio sit, facilis, perferendis quas a, nulla expedita illo obcaecati vero cum quod? Ducimus, ad at!</h2>

<!-- Contact -->

<form class="mb-3 row d-flex bg-grey text-dark" style="justify-content: center;"> 
    <div class="col-8 rounded">
        <label for="exampleFormControlInput1" class="form-label"><strong>Your E-mail</strong></label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Your email">
      </div>
    <div class="col-8">
        <label for="exampleFormControlTextarea1" class="form-label "><strong>Your message</strong></label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Please enter your message here..."></textarea>
    </div>
    <div class="col-8 d-flex" style="justify-content: end;">
      <button class="btn btn-primary gap-3" type="submit">Submit</button>
    </div>
  </form>

