<!-- your html code here -->
<div class="container text-start bg-white">
    <div class="row d-flex justify-content-start">
      <div class="col-7">
        <p class="h3 text-center">The first heading <strong class="text-muted">Will Catch your eye.</strong></p>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
      <div class="col d-flex justify-content-center">
        <img class="img-thumbnail rounded-circle" src="./assets/img/1.jpg" height="85%" width="55%">
      </div>
    </div>
</div> 