<!-- your html code here -->
<div class="rounded-3 px-5 py-5 m-3" id="Portfolio">
    <h1><strong>Portfolio</strong></h1>
    <p>Donec ullamcorper nulla non metus auctor fringilla.
        Aenean lacinia bibendum nulla sed consectetur. Sed posuere consectetur est at lobortis.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <div class="card-group m-3">
        <div class="card m-2">
            <img src="https://fondosmil.com/fondo/3879.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-primary">Project Name</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua.</p>

            </div>
        </div>

        <div class="card m-2">
            <img src="https://fondosmil.com/fondo/3879.jpg" class="card-img-top" alt="...">
            <div class="card-body">

                <h5 class="card-title text-primary">Project Name</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
        \
        <div class="card m-2">
            <img src="https://fondosmil.com/fondo/3879.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-primary">Project Name</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
    </div>
</div>