<!-- your html code here -->
<div class="container text-center bg-light px-5 py-5" id="second-header">
    <div class="row">
        <div class="col-4">
            <img src="/website/assets/img/2.jpg" class="img-thumbnail rounded-circle" alt="...">
        </div>
        <div class="col-8">
            <p class="h3">The second heading <strong class="text-muted">is pretty cool too.</strong></p>
            <p>Donec consequat sapien tortor, ac porttitor ipsum facilisis eu. Mauris rhoncus non ipsum sit amet interdum. </p>

        </div>

    </div>
</div>